body {background:#999;margin-top:15px;}
a:link, a:visited {color:white;}
a:hover {color:yellow;
}
#wrapper {width:100%;height:auto;}
.brochure {width:800px;height:575px;margin:12px auto;

  -webkit-box-shadow: 0px 1px 5px #000; 
     -moz-box-shadow: 0px 1px 5px #000; 
          box-shadow: 0px 1px 5px #000; 
}
.center {width:800px;margin:auto;font-family: Georgia, Times, serif;}
#header {font-size:41pt;font-style: italic;}
#subHeader {font-size:15pt;margin-bottom:12px;}
#contact {font-size:10pt;}
#brochureFront {background: url('DE-Brochure-Front.jpg') no-repeat top center;}
#brochureBack {background: url('DE-Brochure-Back.jpg') no-repeat top center;}
